:root {
    --baseFontFamily: 'Source Sans 3', sans-serif, emoji;
    --monospaceFontFamily: 'Ubuntu Mono', monospace, emoji;
    --iconFontFamily: 'remixicon';

    --txtPrimaryColor:  rgba(255, 255, 255, .87);
    --txtHintColor:     rgba(235, 235, 235, .6);
    --txtDisabledColor: rgb(161 161 170 / 60%);

    --primaryColor: #42b883;

    --bodyColor: #1a1a1a;

    --baseColor:     #1a1a1a;
    --baseAlt1Color: #242424;
    --baseAlt2Color: rgba(84, 84, 84, .48);
    --baseAlt3Color: rgba(84, 84, 84, .48);
    --baseAlt4Color: rgba(84, 84, 84, .8);

    --infoColor:       #026baa;
    --infoAltColor:    #06293e;
    --successColor:    #42b883;
    --successAltColor: #044d2f;
    --dangerColor:     #d50156;
    --dangerAltColor:  #680b32;
    --warningColor:    #ac8d0f;
    --warningAltColor: #463908;

    --overlayColor:   rgba(31, 31, 31, .6);
    --tooltipColor:   var(--baseAlt1Color);
    --shadowColor:    rgba(0, 0, 0, .3);

    --baseFontSize: 14.5px;
    --xsFontSize:   12px;
    --smFontSize:   13px;
    --lgFontSize:   15px;
    --xlFontSize:   16px;

    --baseLineHeight: 22px;
    --smLineHeight:   16px;
    --lgLineHeight:   24px;

    --inputHeight: 34px;

    --btnHeight:   40px;
    --xsBtnHeight: 22px;
    --smBtnHeight: 30px;
    --lgBtnHeight: 54px;

    --baseSpacing: 30px;
    --xsSpacing:   15px;
    --smSpacing:   20px;
    --lgSpacing:   50px;
    --xlSpacing:   60px;

    --wrapperWidth:   850px;
    --smWrapperWidth: 420px;
    --lgWrapperWidth: 1200px;

    --appSidebarWidth: 75px;
    --pageSidebarWidth: 235px;

    --baseAnimationSpeed: 150ms;
    --activeAnimationSpeed: 70ms;
    --entranceAnimationSpeed: 250ms;

    --baseRadius: 0.5rem;
    --lgRadius:   1rem;
    --btnRadius:  0.375rem;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color
    accent-color: var(--primaryColor);
}


// Maps
// ----
$colorsMap: (
    "primary":     var(--primaryColor),
    "info":        var(--infoColor),
    "info-alt":    var(--infoAltColor),
    "success":     var(--successColor),
    "success-alt": var(--successAltColor),
    "danger":      var(--dangerColor),
    "danger-alt":  var(--dangerAltColor),
    "warning":     var(--warningColor),
    "warning-alt": var(--warningAltColor),
);

$sidesMap: (
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left",
);

$sizesMap: (
  "base": var(--baseSpacing),
  "xs":   var(--xsSpacing),
  "sm":   var(--smSpacing),
  "lg":   var(--lgSpacing),
  "xl":   var(--xlSpacing),
);
